* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.h_350{
    height: 350px;
    border: 0.5px solid black;
}

.h_150 {
    height: 150px;
    border: 0.5px solid black;
}

.h_80 {
    height: 80px;
    background-color: thistle;
}

.h_20 {
    height: 20px;
    background-color: palevioletred;
}

.h_100 {
    height: 100px;
    border: 0.5px solid black;
}

.mg_top {
    margin-top: 5%;
}

.flex_centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_end {
    display: flex;
    align-items: flex-end;
}


/* INIZIO HEADER */
.parte_superiore {
    height: 50px;
    background-color: black;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.parte_superiore img {
    height: 80px;
    width: 80px;
    object-fit: contain;

    margin-right: 16px;
}
/* FINE HEADER */


/* INIZIO HERO */
.bg_hero {
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: contain;
    height: 350px;
}

.colore_box {
   color: white;
   margin-bottom: 10%;
}

.colore_box button {
    height: 20%;
    width: 45%;
    border-radius: 50px;
    border: 0px;
    cursor: pointer;
    background-color: rgba(235, 36, 36, 0.788);
    color: white;
}
/* FINE HERO */


/* INIZIO RATCHET CLANK */
.bg_clank,
.ratchet_clank {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 2.5px;
}

.bg_clank img,
.ratchet_clank img {
    border-radius: 25px;
}
/* FINE RATCHET CLANK */


/* INIZIO NO LIMITS */

.flex_centro_verticale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.stile_SpanConsole {
    color: blue;
    font-size: 12px;
}

.stile_p {
    font-size: 12px;
    color: grey;
}
/* FINE NO LIMITS */


/* INIZIO CONSOLE */
.flex_centro img {
    height: 250px;
}

.stile_bConsole button {
    height: 20%;
    width: 45%;
    border-radius: 50px;
    border: 0px;
    cursor: pointer;
    background-color: blue;
    color: white;
    font-size: 75%;

    margin-bottom: 10px;
}

/* FINE CONSOLE */

/* INIZIO PICCOLE IMG */
.h_100 img {
    height: 90%;
}
/*FINE PICCOLE IMG*/


/* INIZIO IMMAGINE IT TAKES TWO */
.bg_takes {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: contain;
 }
 
 .colore_sfondo {
     color: white;
     margin-bottom: 10%;
 }
 
.colore_sfondo button {
    height: 20%;
    width: 45%;
    border-radius: 50px;
    border: 0px;
    cursor: pointer;
    background-color: rgba(235, 36, 36, 0.788);
    color: white;
}

 .h_150 button {
     height: 20%;
     width: 45%;
     border-radius: 50px;
     border: 0px;
     cursor: pointer;
 }
 /* FINE IMMAGINE IT TAKES TWO */


 /* INIZIO NUOVE USCITE */
 
 /* FINE NUOVE USCITE */

 /* INIZIO SERIE DI GIOCHI */
 .serie_di_giochi img {
   height: 70%;
   width: 100%;
   object-fit: cover;

   border-radius: 10%;
   
 }

 .serie_di_giochi p {
    
    font-size: 70%;

 }
 /* FINE SERIE DI GIOCHI */


/* INIZIO ESPLORA PLAYSTATION 4 */
.play_vr_accessori img {
    height: 80%;
    width: 100%;
    object-fit: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* FINE ESPLORA PLAUSTATION 4 */


 /* INIZIO SERIE DI TRE IMMAGINI */
 .img_TreImmagini img {
     height: 100%;
     
 }
 /* FINE SERIE DI TRE IMMAGINI */


 /* INIZIO SOCIAL MEDIA */
 .img_social img {
    height: 100%;
 }
 /* FINE SOCIAL MEDIA */