* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parte_superiore {
    height: 50px;
    background-color: black;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.parte_superiore img {
    height: 80px;
    width: 80px;
    object-fit: contain;
    
}