* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.h_350{
    height: 350px;
    border: 0.5px solid black;
}

.h_150 {
    height: 150px;
    border: 0.5px solid black;
}

.h_100 {
    height: 100px;
    border: 0.5px solid black;
}

/* INIZIO HEADER */
.parte_superiore {
    height: 50px;
    background-color: black;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.parte_superiore img {
    height: 80px;
    width: 80px;
    object-fit: contain;
}
/* FINE HEADER */

