* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.h_350{
    height: 350px;
    border: 0.5px solid black;
}

.h_150 {
    height: 150px;
    border: 0.5px solid black;
}

.h_80 {
    height: 80px;
    background-color: thistle;
}

.h_20 {
    height: 20px;
    background-color: palevioletred;
}

.h_100 {
    height: 100px;
    border: 0.5px solid black;
}

/* INIZIO HEADER */
.parte_superiore {
    height: 50px;
    background-color: black;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.parte_superiore img {
    height: 80px;
    width: 80px;
    object-fit: contain;

    margin-right: 16px;
}
/* FINE HEADER */


/* INIZIO HERO */
.bg_hero {
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: contain;
    height: 350px;
}

.colore_box {
   color: white;
   margin-bottom: 10%;
}

.flex_end {
    display: flex;
    align-items: flex-end;
}

.colore_box button {
    height: 20%;
    width: 45%;
    border-radius: 50px;
    border: 0px;
    cursor: pointer;
}
/* FINE HERO */


/* INIZIO RATCHET CLANK */
.bg_clank {
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    border-radius: 20px;
}

.ratchet_clank {
    background-image: url(../img/ratchet-and-clank-rift-apart-keyart.jpg);
    background-size: cover;
    border-radius: 20px;
}
/* FINE RATCHET CLANK */


/* INIZIO CONSOLE */
.flex_centro {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_centro img {
    height: 250px;
}
/* FINE CONSOLE */


/* INIZIO IMMAGINE IT TAKES TWO */
.bg_takes {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: contain;
}

.colore_sfondo {
    background-color: thistle;
}

.h_150 button {
    height: 20%;
    width: 45%;
    border-radius: 50px;
    border: 0px;
    cursor: pointer;
}
/* FINE IMMAGINE IT TAKES TWO */